<div class="page-container">
  <h2>
    Co można zdiagnozować dzięki tympanometrii
  </h2>
  <div class="grid">
    <app-application>
      <i class="fas fa-thumbtack"></i>
      <span>zapalenie ucha środkowego</span>
    </app-application>
    <app-application>
      <i class="fas fa-thumbtack"></i>
      <span>różne rodzaje niedosłuchu</span>

    </app-application>
    <app-application>
      <i class="fas fa-thumbtack"></i>
      <span>obecność płynu w jamie bębenkowej</span>

    </app-application>
    <app-application>
      <i class="fas fa-thumbtack"></i>
      <span>niedrożność trąbki słuchowejo</span>

    </app-application>
    <app-application>
      <i class="fas fa-thumbtack"></i>
      <span>nieprawidłowość odruchu strzemiączkowego</span>

    </app-application>
    <app-application>
      <i class="fas fa-thumbtack"></i>
      <span>występowanie przerw w łańcuchu kosteczek słuchowych</span>

    </app-application>
    <app-application>
      <i class="fas fa-thumbtack"></i>
      <span>otosklerozę</span>

    </app-application>
    <app-application>
      <i class="fas fa-thumbtack"></i>
      <span>tympanosklerozę</span>
    </app-application>
  </div>
  <p>
    Dzięki badaniu tympanometrycznemu można ocenić także stan ucha wewnętrznego, badając reakcję mięśnia
    strzemiączkowego na bodziec akustyczny oraz obserwując zjawisko wyrównania głośności występujące przy niedosłuchu
    ślimakowym.
    Obserwacja odruchów mięśnia strzemiączkowego jest niezwykle ważna w diagnostyce chorób ucha, ponieważ pozwala na
    zdiagnozowanie porażenia nerwu twarzowego i strzemiączkowego, jak również wykrycie wczesnych stadiów guzów kąta
    mostkowo-móżdżkowego.
  </p>
</div>