<h2>Wskazania do badania</h2>
<div class="page-container">
  <div class="list">
    <div class="list-item">
      <i class="fas fa-check"></i><span>niedosłuch przewodzeniowy występujący z widocznym w jamie bębenkowej płynem</span>
    </div>
    <div class="list-item">
      <i class="fas fa-check"></i><span>niedosłuch przewodzeniowy, którego przyczyn nie udało się wykazać w innych
        badaniach</span>
    </div>
    <div class="list-item">
      <i class="fas fa-check"></i><span>niedosłuch przewodzeniowy występujący ze nieprawidłową drożnością trąbki
        słuchowej</span>
    </div>
    <div class="list-item">
      <i class="fas fa-check"></i><span>niedosłuch przewodzeniowy ze zdrową błoną bębenkową</span>
    </div>
    <div class="list-item">
      <i class="fas fa-check"></i><span>niedosłuch odbiorczy</span>
    </div>
    <div class="list-item">
      <i class="fas fa-check"></i><span>niedowład nerwu twarzowego</span>
    </div>
    <div class="list-item">
      <i class="fas fa-check"></i><span>podejrzenie zapalenia ucha środkowego</span>
    </div>
    <div class="list-item">
      <i class="fas fa-check"></i><span>podejrzenie dysfunkcji trąbki słuchowej</span>
    </div>
    <div class="list-item">
      <i class="fas fa-check"></i><span>podejrzenie perforacji błony bębenkowej</span>
    </div>

    <div class="clearfix"></div>
  </div>


  <div>
    <p>
      Uwaga!
      Przed zleceniem badania tympanometrycznego zaleca się wykonanie badania otolaryngologicznego, otoemisji
      akustycznej
      a
      także audiometrii tonalnej i słownej. Są to wstępne badania laryngologiczne, umożliwiające lekarzowi postawienie
      wstępnej diagnozy występującego niedosłuchu. Tympanometria jest badaniem uzupełniającym i precyzującym założoną
      diagnozę. Rodzice nie powinni sami interpretować wyników badań. Wyniki należy każdorazowo skonsultować z lekarzem
      laryngologiem!
    </p>
  </div>

</div>