<div id="home-scroll-conatiner">
  <app-main-header-section title="Mobilna tympanometria" subtitle="Badanie bez wychodzenia z domu" cta="Zamów wizytę!"></app-main-header-section>
  <app-description-with-image id="czymJest">
    <app-image-half src="assets/img/path-medical-audtymdpoae-2.jpg"></app-image-half>
    <app-description-half>
      <h2>Czym jest tympanometria?</h2>
      <p>
        Badanie tympanometrii to jedno z specjalistycznych badań laryngologicznych coraz powszechniej wykorzystywane w
        diagnostyce. Jest wykonywane by ocenić sprawność błony bębenkowej, która łączy kanał słuchowy z uchem
        wewnętrznym
        oraz kosteczek słuchowych. Badanie to pozwala rejestrować wychylenia błony bębenkowej zachodzące pod wpływem
        bodźców akustycznych oraz zmiany ciśnienia w przewodzie słuchowym. Zmianę ciśnienia osiąga się dzięki pompce,
        którą wprowadza się do ucha pacjenta za pomocą sondy połączonej dodatkowo z mikrofonem. Wychylenia, którym
        ulega
        błona bębenkowa pod wpływem stymulacji ciśnieniem oraz sygnałem dźwiękowym, są rejestrowane przez tympanometr i
        zapisywane na wykresie w postaci krzywych, tworzących tympanogram będący wynikiem badania. Mierząc odbicie fali
        akustycznej od błony bębenkowej podczas zmiany ciśnienia w kanale słuchowym, specjalista określa tzw.
        impedancję
        akustyczną ucha, czyli sztywność błony bębenkowej.

      </p>
    </app-description-half>
  </app-description-with-image>
  <app-application-list id="zastosowanie"></app-application-list>
  <app-checklist id="wskazania"></app-checklist>
  <app-description-with-image id="dlaKogo">
    <app-description-half>
      <h2>Dla kogo?</h2>
      <p>
        Tympanometrie wykonuje się ją zarówno u dorosłych, jak i u dzieci. Jest to badanie całkowicie bezbolesne i
        nieinwazyjne, niepowodujące żadnych powikłań. Jedynie w trakcie trwania badania możliwe jest lekkie poczucie
        dyskomfortu na skutek zmiany ciśnienia w przewodzie słuchowym oraz zróżnicowanego natężenia dźwięku. Może to
        się
        okazać problematyczne szczególnie u najmłodszych dzieci. Dlatego najlepszym rozwiązaniem jest przeprowadzanie
        badania na kolanach rodziców, aby dziecko zachowało spokój. Mały pacjent nie powinien mówić, płakać oraz
        przełykać śliny, ponieważ aby wynik był wiarygodny, musi być zachowana szczelność przewodu słuchowego.
      </p>
    </app-description-half>
    <app-image-half></app-image-half>
  </app-description-with-image>

  <app-description-with-image id="przygotowanie">
    <app-description-half>
      <i class="fas fa-comments"></i>
    </app-description-half>
    <app-description-half>
      <h2>Przygotowanie do tympanometrii</h2>
      <p>
        Nie jest wymagane specjalne przygotowanie do badania tympanomatrycznego. Natomiast należy dziecko odpowiednio
        nastawić, aby nie odczuwało strachu. Najlepszym rozwiązaniem jest wytłumaczenie dziecku, na czym polega badanie
        i
        jakie odczucia mogą mu towarzyszyć. Rozmowę taką powinien przeprowadzić rodzic przed planowaną datą wykonania u
        dziecka tympanometrii oraz specjalista wykonujący badanie. Z kolei w przypadku noworodków najlepiej
        przeprowadzić
        badanie w trakcie snu.
      </p>
    </app-description-half>
  </app-description-with-image>

  <app-description-with-image id="przebieg" class="right gradient-left" style="min-height: 600px" backgroundImage="assets/img/adult-affection-baby-755028.jpg">
    <app-description-half>
      <h2>Przebieg badania</h2>
      <p>
        Standardowo tympanometria może być wykonywana na siedząco jak i na stojąco (przebieg badania zależy od
        pacjenta).
        Badanie trwa około kilku minut. W celu wykonania badania do ucha pacjenta wprowadza się sondę z zatyczką
        uszczelniającą kanał słuchowy, podłączoną do tympanometru. Aby zapewnić jak najlepsze warunki do
        przeprowadzenia
        badania, nie powinno się podczas jego wykonywania mówić ani przełykać.
      </p>
    </app-description-half>
    <app-image-half src="assets/img/adult-affection-baby-755028.jpg" class="opacity-0"></app-image-half>
  </app-description-with-image>

  <app-contraindications style="min-height: 300px" id="przeciwwskazania" title="Przeciwwskazania">

  </app-contraindications>
  <!-- <app-offer id="offer"></app-offer> -->
  <app-description-with-image id="oferta" class="right gradient-left" style="min-height: 600px" backgroundImage="assets/img/rawpixel-665399-unsplash.jpg">
    <app-description-half>
      <h2>Oferta</h2>
      <p>Cena za badanie tympanometrii: 40 zł*.</p>
      <p>W przypadku, gdy badanie nie zostanie wykonane z winy pacjenta, koszt&nbsp;badania&nbsp;nie&nbsp;ulega
        zmianie.</p>

      <p class="meta">*Do ceny badania należy doliczyć koszty dojazdu specjalisty.</p>
    </app-description-half>
    <app-image-half src="assets/img/jeshoots-com-219388-unsplash.jpg" class="opacity-0"></app-image-half>
  </app-description-with-image>
  <app-description-with-image id="sprzet">
    <app-image-half src="assets/img/path-medical-tympanometr-kliniczny.jpg"></app-image-half>
    <app-description-half>
      <h2>Sprzęt</h2>
      <p>
        Wykonujemy badania tympanometrii na najwyższym poziomie nowoczesnym, nowym tympanometrem niemieckiej marki
        Path&nbsp;Medical.
      </p>
      <p>
        Tympanometr posiada szeroki zares ciśnienia (od +300 do -300&nbsp;daPa) oraz 5&nbsp;częstotliwości odruchów:
        500&nbsp;Hz, 1&nbsp;KHz, 2&nbsp;KHz, 3&nbsp;KHz, 4&nbsp;KHz,
        ton 226&nbsp;Hz.
      </p>
    </app-description-half>
  </app-description-with-image>
  <app-contact-form id="contact"></app-contact-form>
  <app-footer></app-footer>
</div>